files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/cosmos-api.jar
#            JAVA_OPTS="$JAVA_OPTS -Xms512m -Xmx512m -server -XX:+UseG1GC"
            JAVA_OPTS="$JAVA_OPTS -Dserver.port=8080"
            JAVA_OPTS="$JAVA_OPTS -Dfile.encoding=UTF-8"
            JAVA_OPTS="$JAVA_OPTS -Duser.timezone=Asia/Seoul"
            JAVA_OPTS="$JAVA_OPTS -Dspring.profiles.active=$SPRING_PROFILES_ACTIVE"

            # run app
            sudo killall java
            sleep 5
            java $JAVA_OPTS -jar $JAR_PATH
